body {
  font-family:Arial, Helvetica, sans-serif;
}
h1 {
  color:red;
}

header {
  background-color:rgba(91, 91, 151,88);
  width:100%;
  text-align: center;
  color:white;
  font-size: 40px;
}

button {
  border:none;
  background-color:rgb(0,0,53);
  color:white;
  margin:5px;
}

/* container will be flexbox */
#container {
  display:flex;
  flex-wrap:wrap;
  text-align: center;
}

.buttondiv {
  margin: 10px;
  background-color: pink;
  color:rgb(0, 0, 53);
  font-size:20px;

  /* flex properties */
  flex:1;
  width:calc(33%-50px);
  }