body {
  font-family:Arial, Helvetica, sans-serif;
}
h1 {
  color:red;
}

header {
  background-color:rgba(91, 91, 151,88);
  width:100%;
  text-align: center;
  color:white;
  font-size: 40px;
}

/* container will be flexbox */
#container {
  display:flex;
  flex-wrap:wrap;
}

.buttondiv {
  margin: 10px;
  background-color: pink;
  /* flex properties */
  flex:1;
  max-width:33%;
}